<input type="text" (keyup.enter)="updateMesssages()" [(ngModel)]="email"> <button
    (click)="updateMesssages()">Search</button>


<h1 *ngFor="let user of result">
    <img src={{user.photoURL}} alt="a">
    {{user.displayName}}
    <p *ngIf="user._id==_id">(YOU)</p>
    <button *ngIf="user._id!==_id&&({_id:user._id,userData:userData}|alreadyFriend)==-1" (click)="sendFriend(user._id,user)">Send friends</button>
    <p *ngIf="({_id:user._id,userData:userData}|alreadyFriend)==0">(Already Friend)</p>
</h1>