<div *ngIf="!loadData" class="border w-100 d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="spinner-border" style="width: 5rem; height: 5rem;" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>
<div *ngIf="loadData" style="height: 100vh;">
    <div style="height: 100%;">
        <app-menu [isMoblie]="isMoblie"></app-menu>
        <div class="mainDiv">
            <div *ngIf="!isMoblie" class="notMoblie--main" style="background-color: lightgray;"
                [@widthGrow]="(shareSer.menu)?'open':'closed'">
                <div>
                    <div *ngIf="data.friends.length==0" style="height: 50vh;"
                        class="d-flex align-items-end justify-content-center">
                        <div class="d-flex flex-column align-items-center">
                            <h1>Your list friend is empty</h1>
                            <div>
                                Search for friend here! >
                                <app-search [_id]="data._id" [data]="data"></app-search>
                            </div>
                        </div>
                    </div>
                    <h1 *ngIf="data.friends.length>0" class="text-center mt-1">Friends</h1>
                    <div *ngFor="let item of data.friends" class="contacts">
                        <div class="card p-1 hover-card m-1 justify-content-center "
                            [ngClass]="{'selected-card':item.room == selected}" style="cursor:pointer;">
                            <div class="row no-gutters align-items-center" routerLink="chat"
                                (click)="joinRoom(item.room)">
                                <div class="col-xl-3 col-lg-6">
                                    <img class="rounded-circle w-100" src={{item.friend.photoURL}} alt="user">
                                </div>
                                <div class="col-xl-9 col-lg-6 d-flex h-100">
                                    <p class="ml-1 text-lg-left text-xl-left text-sm-center w-100" style="height: 10px;font-weight: 500;">{{item.friend.displayName}}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="data.groups.length>0">
                        <hr />
                        <h1 class="text-center">Group</h1>
                        <div *ngFor="let g of data.groups">
                            <div class="card p-1 hover-card m-1 justify-content-center"
                                style="cursor:pointer;min-height: 70px;"
                                [ngClass]="{'selected-card':g._id == selected}">
                                <div class="row no-gutters align-items-center" style="min-height: 70px;"
                                    routerLink="chat" (click)="joinRoom(g._id)">
                                    <div class="col-xl-3 col-lg-6" style="min-height: 70px;">
                                        <img id="square" style="min-height: 70px;" src={{g.photoURL}} alt="user"
                                            class="img-fluid">
                                    </div>
                                    <div class="col-xl-9 col-lg-6 d-flex justify-content-center">

                                            <p class="ml-1 text-lg-left text-xl-left text-sm-center" style="height: 10px;font-weight: 500;">{{g.name}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <hr />
                    <div class="user p-1 d-flex justify-content-center">
                        <img src={{data.photoURL}} alt="pop">
                        <div class="d-flex align-items-center">
                            <button (click)="logout()" class="test btn btn-circle"
                                style="border-radius: 100%;width: 50px;height: 50px;"><i
                                    class="fa fa-cog fa-sign-out fa-lg"></i></button>
                        </div>

                        <div class="d-flex align-items-center">
                            <app-search [_id]="data._id" [data]="data"></app-search>
                        </div>
                        <div class="d-flex align-items-center">
                            <app-friendreq [req]="data.req" [_id]="data._id"></app-friendreq>
                        </div>
                        <div class="d-flex align-items-center">
                            <app-create-group [data]="data"></app-create-group>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="isMoblie" [@widthGrowM]="(shareSer.menuMoblie)?'open':'closed'" class="moblie--main"
                style="background-color: lightgray;">
                <div id="menu">
                    <div>
                        <div *ngIf="data.friends.length==0" style="height: 50vh;"
                            class="d-flex align-items-end justify-content-center">
                            <div class="d-flex flex-column align-items-center">
                                <h2>
                                    Empty
                                    <br>
                                    list<br>
                                    <br>
                                    search<br>
                                    for<br>
                                    friend<br>
                                    here
                                </h2>
                                <app-search [_id]="data._id" [data]="data"></app-search>

                            </div>
                        </div>
                        <app-menu [isMoblie]="isMoblie"></app-menu>
                        <div class="mt-4">
                            <h3 *ngIf="data.friends.length!==0" class="text-center mt-1">Friends</h3>
                            <div *ngFor="let item of data.friends">
                                <div class="card p-1 hover-card m-1 justify-content-center"
                                    style="cursor:pointer;height: 100px;"
                                    [ngClass]="{'selected-card':item.room == selected}">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col" routerLink="chat" (click)="joinRoom(item.room)">
                                            <img class="rounded-circle w-100" src={{item.friend.photoURL}} alt="user">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="data.groups.length>0">
                            <hr />
                            <h3 class="text-center">Group</h3>
                            <div *ngFor="let g of data.groups">
                                <div class="card p-1 hover-card m-1 justify-content-center"
                                    style="cursor:pointer;height: 100px;"
                                    [ngClass]="{'selected-card':g._id == selected}">
                                    <div class="row no-gutters align-items-center h-100" routerLink="chat"
                                        (click)="joinRoom(g._id)">
                                        <div class="col" style="height: 100%;">
                                            <div [ngStyle]="{'background-image': 'url(' + g.photoURL + ') '}"
                                                style="height: auto;"
                                                class=" w-100 h-100 rounded-circle background-size:100%;"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="justify-self: end;">
                        <div class="d-flex flex-column align-items-center">
                            <div class="d-flex align-items-center">
                                <button (click)="logout()" class="test btn btn-circle"
                                    style="border-radius: 100%;width: 50px;height: 50px;"><i
                                        class="fa fa-cog fa-sign-out fa-lg"></i></button>
                            </div>
                            <div class="d-flex align-items-center">
                                <app-search [_id]="data._id" [data]="data"></app-search>
                            </div>
                            <div class="d-flex align-items-center">
                                <app-friendreq [req]="data.req" [_id]="data._id"></app-friendreq>
                            </div>
                            <div class="d-flex align-items-center">
                                <app-create-group [data]="data"></app-create-group>
                            </div>
                            <div style="justify-content: center;display: flex;cursor: pointer;">
                                <img style="border-radius: 100%;height: 4rem;" src={{data.photoURL}} alt="pop">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="!shareSer.menuMoblie &&isMoblie"
                style="width: 100%;height: 100%;background-color: rgba(0,0,0,.32);position: fixed;z-index: 100; transition: ease 400ms;">
            </div>
            <div style="width: 100%;height: 100%">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>