.mainDiv {
    display: flex;
    height: 100%;
    overflow-x: scroll;
    background-color: white;
}

#square{
    clip-path: circle();
    width: 100%;
    height: 100%;
}

// menu
.notMoblie {
    &--main {
        height: 100%;
        width: 25%;
        overflow-y: scroll;
        /* overflow-x: scroll; */
        background-color: white;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &--friend {
        flex-wrap: wrap;
        cursor: pointer;
        border-radius: 5px;
        margin-bottom: 5px;
        align-items: center;
        display: flex;
        border: 0.1px solid black;
        img {
            border: 1px solid black;
            border-radius: 100%;
            height: 4rem;
        }
    }
    &--groups {
        flex-wrap: wrap;
        cursor: pointer;
        border-radius: 5px;
        margin-bottom: 5px;
        align-items: center;
        display: flex;
        border: 0.1px solid black;
        // width: 95px;
        // height: 96px;
        img {
            // clip-path: circle();
            width: fit-content;
            border: 1px solid black;
            border-radius: 100%;
            height: 4rem;
            width: 4rem;
        }
    }
}
.user {
    flex-wrap: wrap;
    cursor: pointer;
    img {
        // border: 0.1px solid black;
        border-radius: 100%;
        height: 4rem;
    }
}
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    transition: ease 400ms;
}

.selected-card{
    background-color:#b8b8b8;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.moblie {
    &--main {
        position: fixed;
        left: auto;
        top: 0;
        left: 0;
        bottom: 0;
        min-width: 20%;
        z-index: 9999;
        background-color: white;

        #menu {
            height: 100%;
            justify-content: space-between;
            display: flex;
            flex-direction: column;
        }
    }
    &--friend {
        justify-content: center;
        cursor: pointer;
        border-radius: 5px;
        margin-bottom: 5px;
        align-items: center;
        display: flex;
        border: 0.1px solid black;
        img {
            border: 1px solid black;
            border-radius: 100%;
            height: 4rem;
        }
    }
}
