.border {
    border: 1px solid black;
    width: 100%;
    height: 100%;
}

//-----GLOBAL
* {
    box-sizing: border-box;
}
.clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
        height: 0;
        visibility: hidden;
    }
}
// body {
//     background-color: #ddd;
//     // padding: 40px;
// }

//-----MESSAGES
.screen {
    background-color: #fff;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}
.conversation {
    height: calc(100% - 100px);
    overflow: auto;
    padding: 20px;
    padding-bottom: 0;
}
.moblie {
    &--imgSendReply {
        position: relative;
        top: 20px;
        border-bottom-left-radius: 15px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        white-space: pre-line;
        width: fit-content;
    }
    &--imgReply {
        max-width: 100px;
        border-radius: 15px;
        opacity: 0.8;
        filter: alpha(opacity=40);
    }
    &--sendReply {
        position: relative;
        top: 10px;
        padding: 7px 13px;
        background-color: rgb(240, 240, 240);
        border-bottom-left-radius: 15px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        white-space: pre-line;
        width: fit-content;
    }

    &--imgReceiveReply {
        position: relative;
        top: 20px;
        border-bottom-left-radius: 15px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        white-space: pre-line;
        width: fit-content;
        img {
            max-width: 100px;
            border-radius: 15px;
            opacity: 0.8;
            filter: alpha(opacity=40);
        }
    }
    &--reciveReply {
        position: relative;
        top: 10px;
        padding: 7px 13px;
        background-color: rgb(240, 240, 240);
        border-bottom-right-radius: 15px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        visibility: visible;
        white-space: pre-line;
        width: fit-content;
    }
    &--replyText {
        position: fixed;
        bottom: 6%;
        width: 100%;
        background-color: white;
        padding: 0px 5px;
        z-index: 10;
    }
}

.buttonText {
    width: fit-content;
    width: 50px;
    div {
        border: 0.1px solid black;
        height: 100%;
        button {
            width: 100%;
            height: 100%;
        }
    }
}

.notMoblie {
    &--imgSendReply {
        position: relative;
        top: 20px;
        border-bottom-left-radius: 15px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        white-space: pre-line;
        width: fit-content;
        img {
            max-width: 100px;
            border-radius: 15px;
            opacity: 0.8;
            filter: alpha(opacity=40);
        }
    }
    &--sendReply {
        position: relative;
        top: 10px;
        padding: 7px 13px;
        background-color: rgb(240, 240, 240);
        border-bottom-left-radius: 15px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        white-space: pre-line;
        width: fit-content;
    }

    &--imgReceiveReply {
        position: relative;
        top: 20px;
        border-bottom-left-radius: 15px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        white-space: pre-line;
        width: fit-content;
        img {
            max-width: 100px;
            border-radius: 15px;
            opacity: 0.8;
            filter: alpha(opacity=40);
        }
    }
    &--reciveReply {
        position: relative;
        top: 10px;
        padding: 7px 13px;
        background-color: rgb(240, 240, 240);
        border-bottom-right-radius: 15px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        visibility: visible;
        white-space: pre-line;
        width: fit-content;
    }
    &--replyText {
        position: fixed;
        padding: 0px 5px;
        bottom: 6%;
        background-color: white;
        z-index: 10;
    }
}
.messages {
    @extend .clearfix;
    margin-bottom: 10px;
    &--received {
        .message {
            white-space: pre-line;
            float: left;
            background-color: #ddd;
            border-bottom-left-radius: 5px;
            border-top-left-radius: 15px;
            &:first-child {
                border-top-left-radius: 15px;
            }
            &:last-child {
                border-bottom-left-radius: 15px;
            }
        }
    }
    &--sent {
        .message {
            float: right;
            white-space: pre-line;

            background-color: #1998e6;
            color: #fff;
            border-bottom-right-radius: 5px;
            border-top-right-radius: 5px;
            &:first-child {
                border-top-right-radius: 15px;
            }
            &:last-child {
                border-bottom-right-radius: 15px;
            }
        }
    }
}
.message {
    display: inline-block;
    z-index: 1;
    margin-bottom: 2px;
    clear: both;
    padding: 7px 13px;
    font-size: 1rem;
    border-radius: 15px;
    line-height: 1.4;
    &--thumb {
        background-color: transparent !important;
        padding: 0;
        margin-top: 5px;
        margin-bottom: 10px;
        width: 20px;
        height: 20px;
        border-radius: 0px !important;
    }
}

.button {
    height: fit-content;
    border-radius: 5px;
    background-color: white;
    border: 0.1px solid black;
    cursor: pointer;
}
.text-bar {
    // height: 50px;
    border-top: 1px solid #ccc;

    &__field {
        float: left;
        width: calc(100% - 50px);
        height: 100%;

        textarea {
            width: 100%;
            height: 100%;
            padding: 0 20px;
            border: none;
            position: relative;
            vertical-align: middle;
            font-size: 1rem;
        }
    }
    &__thumb {
        float: left;
        width: 25px;
        height: 25px;
        padding: 10px;
        &:hover {
            opacity: 0.8;
        }
        .thumb {
            cursor: pointer;
        }
    }
}

.thumb {
    display: block;
    @extend .thumb-img;
}

.anim-wiggle {
    animation: wiggle 0.2s ease infinite;
}
.anim-wiggle-2 {
    animation: wiggle2 0.2s ease infinite;
}

@keyframes wiggle {
    0% {
        transform: rotateZ(5deg);
    }
    50% {
        transform: rotateZ(-5deg);
    }
    100% {
        transform: rotateZ(5deg);
    }
}
@keyframes wiggle2 {
    0% {
        transform: rotateZ(10deg);
    }
    50% {
        transform: rotateZ(-10deg);
    }
    100% {
        transform: rotateZ(10deg);
    }
}

.thumb-img {
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(https://icon-library.com/images/send-icon-png/send-icon-png-24.jpg);
}

.messages--received > div {
    display: flex;
    justify-content: flex-start;
}

.messages--received > div {
    app-side-chat {
        visibility: hidden;
        display: inline-block;
        margin-bottom: 2px;
        clear: both;
        padding: 7px 13px;
        font-size: 1rem;
        border-radius: 15px;
        line-height: 1.4;
    }
}

.messages--received:hover {
    div > app-side-chat {
        visibility: visible;
    }
}

.messages--sent > div {
    display: flex;
    justify-content: flex-end;
}

.messages--sent > div {
    .sending {
        visibility: hidden;
        display: inline-block;
        margin-bottom: 2px;
        clear: both;
        padding: 7px 13px;
        font-size: 1rem;
        border-radius: 15px;
        line-height: 1.4;
    }
    app-side-chat {
        visibility: hidden;
        display: inline-block;
        margin-bottom: 2px;
        clear: both;
        padding: 7px 13px;
        font-size: 1rem;
        border-radius: 15px;
        line-height: 1.4;
    }
}

.messages--sent:hover {
    div > app-side-chat {
        visibility: visible;
    }
}

.menuTop {
    height: 50px;
    display: flex;
    justify-content: flex-end;
    // border: 0.1px solid black;

    // margin-bottom: 5px;

    #avatar {
        width: 50%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 0 1rem;
        div {
            display: flex;
            height: 100%;
            align-items: center;
            img {
                height: 40px;
                width: 40px;
                border-radius: 150px;
            }
        }
    }
    #addMenu {
        width: 50%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 0 1rem;
    }

    #menu {
        border-radius: 5px;
        background-color: white;
        border: 0.1px solid black;
        height: fit-content;
    }
}
#addDiv {
    width: 100%;
    display: flex;
    justify-content: center;
    #add {
        text-align: center;
        border-radius: 5px;
        background-color: white;
    }
}
