<div *ngIf="!firstLoad" class="border w-100 h-100 page-wrap d-flex flex-row align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center">
                <span class="display-3 d-block">Selected none</span>
                <div class="mb-4 lead">You have not selected nothing.</div>
                <div class="mb-4 lead">No messages have selected at the moment.</div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="!loading &&firstLoad" class="border w-100 h-100 d-flex justify-content-center align-items-center">
    <div class="spinner-border" style="width: 5rem; height: 5rem;" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>
<div *ngIf="loading && firstLoad" class="border">
    <div class="screen">
        <div class="menuTop" style="border-bottom: 1px solid rgba(0, 0, 0, 0.125);" >
            <div id="avatar" *ngIf="currentAvatar">
                <div>
                    <img src={{currentAvatar.photoURL}} alt="as">
                    <p *ngIf="!currentAvatar.isGroup">{{currentAvatar.displayName}}</p>
                    <p *ngIf="currentAvatar.isGroup">{{currentAvatar.name}}</p>
                </div>
            </div>
            <div id="addMenu" *ngIf="currentAvatar">
            
                <button *ngIf="currentAvatar.isGroup" style="cursor: pointer;border-radius: 500px;border: none;" type="button" class="btn btn-outline-dark btn-sm btn-rounded" (click)="openGroupMenu()"><i class="fa fa-cog"></i></button>
            </div>
        </div>
        <div class="conversation" #scrollMe>
            <div id="addDiv">
                <button type="button" class="btn btn-outline-dark btn-sm" (click)="add()" style="cursor: pointer;">More</button>
            </div>
            <div *ngFor="let item of messages">
                <div *ngIf="authSer.uid==item.user?.uid" class="messages messages--sent">
                    <div *ngIf="isMoblie&&item.reply">
                        <div *ngIf="item.reply.text" class="moblie--sendReply">
                            {{{input:item.reply.text,breakpoint:20}|linebreak}}
                        </div>
                        <div *ngIf="item.reply.image" class="moblie--imgSendReply">
                            <img class="moblie--imgReply" src={{item.reply.image}} alt="img"
                                (click)="openImageDialog(item.reply.image)">
                    </div>
                    <div *ngIf="!isMoblie&&item.reply">
                        <div *ngIf="item.reply.text" class="notMoblie--sendReply">
                            {{{input:item.reply.text,breakpoint:30}|linebreak}}
                        </div>
                        <div *ngIf="item.reply.image" class="notMoblie--imgSendReply">
                            <img src={{item.reply.image}} alt="img" (click)="openImageDialog(item.reply.image)">
                        </div>
                    </div>
                    <div>
                        <ng-template #elseSending>
                            <div style="z-index: 1;">
                                <app-side-chat [item]='item' (replyEvent)="replyClick($event)" (deleteEvent)="deleteClick($event)"></app-side-chat>
                            </div>
                        </ng-template>
                        <div class="sending" *ngIf="item.status==false;else elseSending" style="visibility: initial;">
                            sending
                        </div>
                        <div style="z-index: 1;">
                            <div *ngIf="isMoblie&&item.text" class="message " matTooltip={{item.date|getDate}}
                                matTooltipPosition="above">
                                {{{input:item.text,breakpoint:20}|linebreak}}
                            </div>
                            <div *ngIf="!isMoblie&&item.text" class="message" matTooltip={{item.date|getDate}}
                                matTooltipPosition="above">
                                {{{input:item.text,breakpoint:30}|linebreak}}
                            </div>
                            <div *ngIf="isMoblie&&item.image" matTooltip={{item.date|getDate}}
                                matTooltipPosition="above">
                                <img style="max-width: 200px;border-radius: 15px;" src={{item.image}} alt="img"
                                    (click)="openImageDialog(item.image)">
                            </div>
                            <div *ngIf="!isMoblie&&item.image" matTooltip={{item.date|getDate}}
                                matTooltipPosition="above">
                                <img style="max-width: 300px;border-radius: 15px;" src={{item.image}} alt="img"
                                    (click)="openImageDialog(item.image)">
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="authSer.uid!==item.user?.uid" class="messages messages--received">
                    <div *ngIf="isMoblie&&item.reply">
                        <div style="margin-left: 40px;">
                            <div *ngIf="item.reply.text" class="moblie--reciveReply">
                                {{{input:item.reply.text,breakpoint:20}|linebreak}}
                            </div>
                            <div *ngIf="!item.reply.text" class="moblie--imgReceiveReply">
                                <img src={{item.reply.image}} alt="img" (click)="openImageDialog(item.reply.image)">
                            </div>
                        </div>
                    </div>
                    <div *ngIf="!isMoblie&&item.reply">
                        <div style="margin-left: 40px;">
                            <div *ngIf="item.reply.text" class="notMoblie--reciveReply">
                                {{{input:item.reply.text,breakpoint:30}|linebreak}}
                            </div>
                            <div *ngIf="!item.reply.text" class="notMoblie--imgReceiveReply">
                                <img src={{item.reply.image}} alt="img" (click)="openImageDialog(item.reply.image)">
                            </div>
                        </div>
                    </div>
                    <div style="z-index: 1;">
                        <div style="margin-right: 5px;">
                            <img style="width: 35px;height: 35px;border-radius: 150px;" src={{item.user?.photoURL}}
                                alt="as">
                        </div>
                        <span *ngIf="isMoblie&&item.text" matTooltip={{item.date|getDate}} matTooltipPosition="above"
                            class="message">
                            {{{input:item.text,breakpoint:20}|linebreak}}
                        </span>
                        <span *ngIf="!isMoblie&&item.text" matTooltip={{item.date|getDate}} matTooltipPosition="above"
                            class="message">
                            {{{input:item.text,breakpoint:30}|linebreak}}
                        </span>
                        <span *ngIf="isMoblie&&item.image" matTooltip={{item.date|getDate}} matTooltipPosition="above">
                            <img style="max-width: 200px;border-radius: 15px;" src={{item.image}} alt="img"
                                (click)="openImageDialog(item.image)">
                        </span>
                        <span *ngIf="!isMoblie&&item.image" matTooltip={{item.date|getDate}} matTooltipPosition="above">
                            <img style="max-width: 300px;border-radius: 15px;" src={{item.image}} alt="img"
                                (click)="openImageDialog(item.image)">
                        </span>
                        <div style="z-index: 1;">
                            <app-side-chat [item]='item' (replyEvent)="replyClick($event)"></app-side-chat>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-bar" style="height:  50px">
            <div *ngIf="(reply | json) != '{}'">
                <div *ngIf="!isMoblie&&reply.text" class="notMoblie--replyText"
                    [ngStyle]="{'width':(shareSer.menu)?'80%':'100%'}">
                    <div style="display: flex;justify-content: space-between;align-items: center;">
                        <div>
                            {{{input:reply.text,breakpoint:30}|linebreak}}
                        </div>
                        <button class="btn btn-outline-danger btn-sm btn-rounded" style="height: fit-content;" (click)="reply = {}">
                            <i class="fa fa-trash fa-lg"></i>
                        </button>
                    </div>
                </div>
                <div *ngIf="isMoblie&&reply.text" class="moblie--replyText">
                    <div style="display: flex;justify-content: space-between;align-items: center;">
                        <div>
                            {{{input:reply.text,breakpoint:20}|linebreak}}
                        </div>
                        <button class=" btn btn-outline-danger btn-sm btn-rounded" style="height: fit-content;"  (click)="reply = {}">
                            <i class="fa fa-trash fa-lg"></i>
                        </button>
                    </div>
                </div>
                <div *ngIf="!isMoblie&&reply.image" class="moblie--replyText"
                    [ngStyle]="{'width':(shareSer.menu)?'80%':'100%'}">
                    <div style="display: flex;justify-content: space-between;align-items: center;padding: 0 1rem;">
                        <div>
                            <img style="max-width: 100px;border-radius: 15px;" src={{reply.image}} alt="img">
                        </div>
                        <button class="btn btn-outline-danger btn-sm btn-rounded" style="height: fit-content;" style="height: 50%;" (click)="reply = {}">
                            <i class="fa fa-trash fa-lg"></i>
                        </button>
                    </div>
                </div>
                <div *ngIf="isMoblie&&reply.image" class="moblie--replyText">
                    <div style="display: flex;justify-content: space-between;align-items: center;padding: 0 1rem;">
                        <div>
                            <img style="max-width: 100px;border-radius: 15px;" src={{reply.image}} alt="img">
                        </div>
                        <button class="btn btn-outline-danger btn-sm btn-rounded"style="height: fit-content;" style="height: 50%;" (click)="reply = {}">
                            <i class="fa fa-trash fa-lg"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div style="display: flex;height:100%">
                <div class="text-bar__field">
                    <textarea  class="form-control" type="text" [(ngModel)]="text" placeholder="Type your text here..."
                        (keyup.enter)="sendMessage()" style="width: 100%;text-align: center;"></textarea>
                </div>
                <div *ngIf="showEmojiPicker" style="position: fixed;bottom: 6%;right: 1%;z-index: 10;">
                    <emoji-mart class="emoji-mart" set="facebook" [darkMode]="false" title="Pick your emoji…"
                        [emojiSize]="20" (emojiSelect)="addEmoji($event)"></emoji-mart>
                </div>
                <div class="buttonText">
                    <div>
                        <button style="cursor: pointer;border-radius: 500px;border: none;" (click)="toggleEmojiPicker()" class="btn btn-outline-dark btn-sm btn-rounded">😀
                        </button>
                    </div>
                </div>
                <div class="buttonText">
                    <div>
                        <button style="cursor: pointer;border-radius: 500px;border: none;" (click)="uploadMultipleFiles()" class="btn btn-outline-dark btn-sm btn-rounded"><i class="fa fa-image fa-lg"></i>
                        </button>
                    </div>
                </div>
                <div class="buttonText">
                    <div>
                        <button style="cursor: pointer;border-radius: 500px;border: none;" (click)="sendMessage()" class="btn btn-outline-dark btn-sm btn-rounded"><i class="fa fa-paper-plane fa-lg"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>