<div *ngIf="!firstLoad" class="border">
    you suck.
</div>
<div *ngIf="!loading &&firstLoad" class="border">
    Loading...
</div>
<div *ngIf="loading && firstLoad" class="border">

    <div class="screen">
        <div class="conversation" #scrollMe>
            <div class="add">
                <button (click)="add()" style="cursor: pointer;">add more</button>
            </div>
            <div *ngFor="let item of messages">

                <div *ngIf="authSer.uid==item.user?.uid" class="messages messages--sent">
                    <!-- reply -->
                    <div *ngIf="isMoblie&&item.reply">
                        <div *ngIf="item.reply.text" class="moblie--sendReply">
                            {{{input:item.reply.text,breakpoint:20}|linebreak}}
                        </div>
                        <div *ngIf="item.reply.image" class="moblie--imgSendReply">
                            <img class="moblie--imgReply" src={{item.reply.image}} alt="img"
                                (click)="openImageDialog(item.reply.image)">
                                
                        </div>
                    </div>
                    <div *ngIf="!isMoblie&&item.reply">
                        <div *ngIf="item.reply.text" class="notMoblie--sendReply">
                            {{{input:item.reply.text,breakpoint:30}|linebreak}}
                        </div>

                        <div *ngIf="item.reply.image" class="notMoble--imgSendReply">
                            <img class="notMoblie--imgReply" src={{item.reply.image}} alt="img"
                                (click)="openImageDialog(item.reply.image)">
                        </div>
                    </div>
                    <div>
                        <ng-template #elseSending>
                            <div style="z-index: 1;">

                                <app-side-chat [item]='item' (replyEvent)="replyClick($event)"></app-side-chat>
                            </div>
                        </ng-template>
                        <div class="sending" *ngIf="item.status==false;else elseSending" style="visibility: initial;">
                            sending
                        </div>
                        <div style="z-index: 1;">
                            <div *ngIf="isMoblie&&item.text" class="message" >
                                {{{input:item.text,breakpoint:20}|linebreak}}
                            </div>
                            <div *ngIf="!isMoblie&&item.text" class="message">
                                {{{input:item.text,breakpoint:30}|linebreak}}
                            </div>
                            <div *ngIf="isMoblie&&item.image">
                                <img style="max-width: 200px;border-radius: 15px;" src={{item.image}} alt="img"
                                    (click)="openImageDialog(item.image)">
                            </div>
                            <div *ngIf="!isMoblie&&item.image">
                                <img style="max-width: 300px;border-radius: 15px;" src={{item.image}} alt="img"
                                    (click)="openImageDialog(item.image)">
                            </div>
                        </div>
                    </div>

                </div>
                <div *ngIf="authSer.uid!==item.user?.uid" class="messages messages--received">
                    <!-- reply -->
                    <div *ngIf="isMoblie&&item.reply">
                        <div>
                            <div *ngIf="item.reply.text" class="moblie--reciveReply">
                                {{{input:item.reply.text,breakpoint:20}|linebreak}}
                            </div>
                            <div *ngIf="!item.reply.text" class="moblie--imgReceiveReply">
                                <img src={{item.reply.image}} alt="img" (click)="openImageDialog(item.reply.image)">

                            </div>
                        </div>
                    </div>
                    <div *ngIf="!isMoblie&&item.reply">
                        <div>
                            <div *ngIf="item.reply.text" class="notMoblie--reciveReply">
                                {{{input:item.reply.text,breakpoint:30}|linebreak}}
                            </div>
                            <div *ngIf="!item.reply.text" class="notMoblie--imgReceiveReply">
                                <img src={{item.reply.image}} alt="img" (click)="openImageDialog(item.reply.image)">

                            </div>
                        </div>
                    </div>
                    <div style="z-index: 1;">
                        <span *ngIf="isMoblie&&item.text" class="message">
                            {{{input:item.text,breakpoint:20}|linebreak}}
                        </span>
                        <span *ngIf="!isMoblie&&item.text" class="message">
                            {{{input:item.text,breakpoint:30}|linebreak}}
                        </span>
                        <span *ngIf="isMoblie&&item.image">
                            <img style="max-width: 200px;border-radius: 15px;" src={{item.image}} alt="img"
                                (click)="openImageDialog(item.image)">

                        </span>
                        <span *ngIf="!isMoblie&&item.image">
                            <img style="max-width: 300px;border-radius: 15px;" src={{item.image}} alt="img"
                                (click)="openImageDialog(item.image)">

                        </span>

                        <div style="z-index: 1;">
                            <app-side-chat [item]='item' (replyEvent)="replyClick($event)"></app-side-chat>
                        </div>
                    </div>
                </div>

            </div>


        </div>
        <div class="text-bar" style="height:  50px">
            <div *ngIf="(reply | json) != '{}'">
                <div *ngIf="!isMoblie&&reply.text" class="notMoblie--replyText"
                    [ngStyle]="{'width':(shareSer.menu)?'80%':'100%'}">
                    <div style="display: flex;justify-content: space-between;align-items: center;">
                        <div>
                            {{{input:reply.text,breakpoint:30}|linebreak}}
                        </div>
                        <button class="button" (click)="reply = {}">
                            x
                        </button>
                    </div>
                </div>
                <div *ngIf="isMoblie&&reply.text" class="moblie--replyText">
                    <div style="display: flex;justify-content: space-between;align-items: center;">
                        <div>
                            {{{input:reply.text,breakpoint:20}|linebreak}}
                        </div>
                        <button class="button" (click)="reply = {}">
                            x
                        </button>
                    </div>
                </div>
                <div *ngIf="!isMoblie&&reply.image" class="moblie--replyText"
                    [ngStyle]="{'width':(shareSer.menu)?'80%':'100%'}">
                    <div style="display: flex;justify-content: space-between;align-items: center;padding: 0 1rem;">
                        <div>
                            <img style="max-width: 100px;border-radius: 15px;" src={{reply.image}} alt="img">

                        </div>
                        <button class="button" style="height: 50%;" (click)="reply = {}">
                            x
                        </button>
                    </div>
                </div>
                <div *ngIf="isMoblie&&reply.image" class="moblie--replyText">
                    <div style="display: flex;justify-content: space-between;align-items: center;padding: 0 1rem;">
                        <div>
                            <img style="max-width: 100px;border-radius: 15px;" src={{reply.image}} alt="img">
                        </div>
                        <button class="button" style="height: 50%;" (click)="reply = {}">
                            x
                        </button>
                    </div>
                </div>
            </div>

            <div style="display: flex;height:100%">
                <div class="text-bar__field">
                    <textarea type="text" [(ngModel)]="text" placeholder="Type your text here..."
                        (keyup.enter)="sendMessage()" style="width: 100%;text-align: center;"></textarea>
                </div>
                <div *ngIf="showEmojiPicker" style="position: fixed;bottom: 6%;right: 1%;z-index: 10;">
                    <emoji-mart class="emoji-mart" set="facebook" [darkMode]="false" title="Pick your emoji…"
                        [emojiSize]="20" (emojiSelect)="addEmoji($event)"></emoji-mart>
                </div>
                <div class="buttonText">
                    <div>
                        <button (click)="toggleEmojiPicker()">
                            emo
                        </button>
                    </div>
                </div>
                <div class="buttonText">
                    <div>
                        <button (click)="uploadMultipleFiles()">
                            img
                        </button>
                    </div>
                </div>
                <div class="buttonText">
                    <div>
                        <button (click)="sendMessage()">
                            send
                        </button>
                    </div>
                </div>
                <!-- <div class="text-bar__thumb">
                    <div class="thumb" (click)="sendMessage()"></div>
                </div> -->
            </div>
        </div>
    </div>
</div>