<div *ngIf="!doneLoading" class="p-3">
    loading...
</div>
<div *ngIf="doneLoading" class="p-3">
    <form [formGroup]="frm" (ngSubmit)="onSubmit()">
        <div class="d-flex justify-content-center">
            <img id="img" *ngIf="currentImg" [src]="currentImg">
        </div>
        <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" aria-describedby="emailHelp" placeholder="Enter name"
                formControlName="name">
            <small class="form-text text-muted">Enter a group name.</small>
        </div>
        <div class="form-group">
            <label>Description</label>
            <input type="text" class="form-control" aria-describedby="emailHelp" placeholder="Enter description"
                formControlName="desc">
            <small class="form-text text-muted">Enter a group description.</small>
        </div>
        <button #submit type="submit" style="visibility: hidden;position: absolute;">update</button>
    </form>
    <div class="form-group">
        <label>Image</label>
        <button class="form-control-file btn btn-outline-dark" (click)="upload()"><i class="fa fa-image"></i></button>
        <small class="form-text text-muted">Select a image.</small>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-10 p-0">
                <select #device (change)="onChange($event, device.value)" class="form-control">
                    <option *ngFor="let i of friends">{{i.friend.displayName}}</option>
                </select>
            </div>
            <div class="col-2 p-0">
                <button (click)="clickAdd()" class="btn btn-outline-dark btn-sm h-100">add</button>
            </div>
        </div>
    </div>
    <div>
        <small class="form-text text-muted">current user in room.</small>
        <ul class="list-group" style="max-height: 20vh;overflow-y: scroll;">
            <li class="list-group-item list-group-item-action" *ngFor="let user of users;let i = index">
                <div class="row no-gutters align-items-center">
                    <div class="col-3">
                        <img class="rounded-circle w-100" src={{user.photoURL}} alt="user">
                    </div>
                    <div class="col-9 d-flex flex-column  align-items-center">
                        <p>{{user.displayName}}</p>
                        <p *ngIf="authSer.user.uid==user.uid">(YOU)</p>
                        <button class="ml-1 btn btn-outline-danger btn-sm" type="button"*ngIf="authSer.user.uid!==user.uid" (click)="deleteUser(i,user)">Remove user</button>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <button (click)="submit.click()" class="mt-1 btn btn-success">update</button>
</div>